/* background/body styling */
body {
  background-color: #393E46;
  color: #EEEEEE;
}

/*navbar*/
.topnav {
  overflow: hidden;
  background-color: #222831;
  width: 100%;
  text-align: left;
  vertical-align: middle;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;

	position: sticky;
	top: 0;
}

.topnav a {
  color: #EEEEEE;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  line-height: 30px;

  height: 30px;
  width: 30px;

  padding-left: 30px;
  padding-right: 30px;
}

#nav a:hover {
  color: #00ADB5;
}

/*headers*/
h2 {
  font-size: 30px;
}