/* background/body styling */
body {
	background-color: #393E46;
	color: #EEEEEE;
	padding-left: 15%;
	padding-right: 15%;
}
/*navbar*/
#navbar {
	background-color: #222831;
	display: inline-block;
	position: sticky;
	top: 0;
	padding: 15px 0 15px 0;
	width: 100%;
	vertical-align: middle;
	text-align: center;
}
#navbar li {
	display: inline;
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 30px;
	padding-left: 30px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-family: 'Lato', sans-serif;
}
#navbar a {
	text-align: center;
	text-decoration: none;
	color: #EEEEEE;
}
#navbar a:hover {
	color: #00ADB5;
}
/*headers*/
h2 {
	font-size: 30px;
}
p {
	text-align: center;
	vertical-align: middle;
}
